.header {
    display: flex;
    background: white;
    z-index: 20;
    position: absolute;
    width: 100vw;
    border-bottom: 1px solid gainsboro;
}

.header-left {
    width: 40%;
}

.header-right {
    width: 60%;
}

.header-logo {

}

