.header {
    display: flex;
    background: white;
    z-index: 20;
    position: absolute;
    width: 100vw;
    border-bottom: 1px solid gainsboro;
    margin-left: -12.5vw;
}

.header-left {
    width: 40%;
}

.header-right {
    width: 60%;
}
.ham-button-m {
    margin-bottom: 10px !important;
    position: absolute !important;
    right: 25px;
}

.ham-button {
    margin-bottom: 10px !important;
}
.ham-button:hover {
    background-color: rgb(1 162 198 / 33%) !important;
    border-radius: 0 !important;
}